@font-face {
  font-family: PilotCommandHalftone;
  src: url("./fonts/PilotCommandHalftone-vm5RE.woff2") format("woff2"),
    url("./fonts/PilotCommandHalftone-vm5RE.woff") format("woff");
}

@font-face {
  font-family: PilotCommandLaser;
  src: url("./fonts/PilotCommandLaser-mLGPm.woff2") format("woff2"),
    url("./fonts/PilotCommandLaser-mLGPm.woff") format("woff");
}

@font-face {
  font-family: SpaceRanger;
  src: url("./fonts/spaceranger.woff2") format("woff2"),
    url("./fonts/spaceranger.woff") format("woff");
}

body {
  background-color: #111;
  color: whitesmoke;
}
